[Unit]
Description=A fulltext search backend
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/xuanzang.pid
PrivateDevices=yes
SyslogLevel=err
NoNewPrivileges=true
User=xuanzang
WorkingDirectory=~
ExecStart=/usr/bin/xuanzang -c /etc/xuanzang/xuanzang.yaml
KillSignal=SIGTERM
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
